doctype html
head
  title Todo App
  link(rel='stylesheet' href='../todo/style.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
.menu
  #user
    h1= user
  button#logout
    | LOGOUT
.flex-container
  #leftbox.box
    div
      h1 Task List
      p
        | Add task to your list by typing to the right and pressing enter.
        | You may then view pending tasks below.
  #rightbox.box
    textarea#text_ele(name='task_text' rows='5' cols='16' placeholder='I need too...')
script(src='../todo/app.js')
